# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Node
node_modules/
web/node_modules/

# Vite
web/dist/

# IDE
.idea/
.vscode/
*.swp

# Environment / secrets
.env
.env.*
infrastructure/env.local.json

# SAM
.aws-sam/

# OS
.DS_Store
Thumbs.db
